POSTGRES_PASSWORD=REPLACE_WITH_RANDOM_DATABASE_PASSWORD
ADMIN_KEY_HASH=REPLACE_WITH_ARGON2ID_HASH
SESSION_SECRET=REPLACE_WITH_RANDOM_SECRET_AT_LEAST_32_BYTES
ENCRYPTION_KEY=REPLACE_WITH_URLSAFE_BASE64_32_BYTE_KEY
TOKEN_LOOM_PORT=8787
COOKIE_SECURE=false
TRUST_PROXY_HEADERS=false
TRUSTED_PROXY_IPS=127.0.0.1,::1
ALLOWED_HOSTS=localhost,127.0.0.1,::1
MIN_FREE_BYTES=268435456
